* {
  box-sizing: borderbox;
}

html,
body {
  font-size: 100%;
  line-height: 1.5;
}

body {
  width: 100%;
  height: 100vh;
  background: url('assets/freedom.jpg') no-repeat center;
  background-size: cover;
  color: #333;
}

.wrapper {
  width: 90%;
  height: 60vh;
  margin: 0 auto;
  text-align: center;
  display: table;
}

.wrapper-text {
  display: table-cell;
  vertical-align: middle;
}

.quote {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1rem;
  margin-bottom: 3rem;
}

.author {
  font-family: 'Crimson Text', serif;
  font-size: 1rem;
  font-style: italic;
}

nav {
  position: absolute;
  bottom: 1.25rem;
  width: 100%;
}

nav ul {
  text-align: center;
}

nav li {
  display: inline-block;
  padding: 0 1.25rem;
}

nav a {
  text-decoration: none;
  color: #333;
}

nav a:hover {
  color: #fff;
  transition: color .3s ease-in-out;
}